.header__logo {
    width: 225px;
    height: 35px;
    margin: 35px 0 0 25px;
    cursor: pointer;
}


@media screen and (max-width: 1050px) {
    .header__logo {
        width: 200px;
        height: 31px;
    }
}

@media screen and (max-width: 970px) {
    .header__logo {
        width: 175px;
        height: 28px;
        margin: 25px 0 0 18px;
    }
}

@media screen and (max-width: 360px) {
    .header__logo {
        width: 150px;
        height: 24px;
        margin: 18px 0 0 18px;
    }
}