.sequence {
    background: url(../../images/background-sequence.jpg) no-repeat fixed 40%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sequence::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    opacity: .8;
    z-index: 1;
}