.hyperlink {
    text-decoration: none;
    margin: 0;
    padding: 0;
    opacity: 1;
    transition: opacity .3s ease-in;
    color: #000;
    cursor: pointer;
}

.hyperlink:hover {
    opacity: .6;
}

.hyperlink_underline {
    text-decoration: underline;
}