.footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: #520f21;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 530px) {
    .footer {
        height: fit-content;
    }
}