.header__menu {
    display: flex;
    width: 750px;
    justify-content: space-between;
    margin: 40px 40px 0 0;
    padding: 0;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
    font-size: 18px;
    list-style-type: none;
}

@media screen and (max-width: 1050px) {
    .header__menu {
        width: 600px;
        font-size: 16px;
    }
}

@media screen and (max-width: 900px) {
    .header__menu {
        width: 500px;
        font-size: 14px;
        margin: 32px 32px 0 0;
    }
} 


@media screen and (max-width: 730px) {
    .header__menu {
        display: none;
    }
}