.popup__form {
    width: 500px;
    height: 450px;
    font-family: 'Rubik', Arial, Helvetica, sans-serif;
}

@media screen and (max-width: 730px) {
    .popup__form {
        width: 320px;
        height: 450px;
    }
}