.header {
    min-height: 100px;
    width: 100%;
    background: #520f21;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .9;
    z-index: 3;
}

@media screen and (max-width: 900px) {
    .header {
        min-height: 75px;
    }
} 

@media screen and (max-width: 730px) {
    .header {
        flex-direction: column;
        position: relative;
    }
}